Source: ros-melodic-prbt-grippers
Section: misc
Priority: extra
Maintainer: Alexander Gutenkunst <a.gutenkunst@pilz.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/prbt_grippers
Standards-Version: 3.9.2

Package: ros-melodic-prbt-grippers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-prbt-pg70-support
Description: The package provides gripper support for the pilz_robots package.
